body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(255, 233, 237);
  text-align: center;
  display: flex;
  align-content: space-between;
}

/* Identifiers below in alphabetical order by first element: */

a {
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

.button {
  width: 500px;
  height: 50px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 2px;
  text-decoration: none;
  color: black;
  background-color: rgb(255, 233, 237);
  text-align: center;
  transition: hover 0.2s;
}

.button:hover{
  background-color: rgb(255, 144, 164);
}

.button:active {
  background-color: rgb(255, 64, 99);
  box-shadow: 2 1px #666;
  transform: translateY(3px);
}

.flower{
  display: flex;
  max-width: 2000px;
  justify-content: center;
  flex-wrap: wrap;
}

#flowerAF {
  border: black 2px solid;
  margin: 1px;
  width: 400px; 
  text-align: center; 
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
}

.flowerImageMain {
  opacity: 1;
  transition: 0.2s;
}

.flowerImageMain:hover{
  opacity: 0.6;
}

.flowerlink:hover {
  color:rgb(255, 144, 164);
}

form div {
  margin: 1em;
  display: inline-block;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.orderImage {
  width: 100px;
  height: 100px;
  border: black 1px solid;
}

#paymentpage{
  text-align: center;
}

#quantity {
  height: 25px;
  width: 75px;
}

#singleflower {
  border: black 2px solid;
  max-width: 500px;
  text-align: center;
}

td {
  border: black 1px solid;
  width: 200px;;
}

#totalrow {
  height: 35px;
  text-align: center;
  font-size: 35px;
}

